<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientAutoUnlockDuration</key>
	<integer>0</integer>
	<key>ClientAutoUnlockEnabled</key>
	<false/>
	<key>ClientLastSyncTS</key>
	<integer>0</integer>
	<key>CloseAfterWebAccess</key>
	<false/>
	<key>CurrentFieldNumber</key>
	<integer>6</integer>
	<key>CurrentRecord</key>
	<integer>0</integer>
	<key>DataSheetAdornmentOptions</key>
	<integer>0</integer>
	<key>DataSheetRectangle</key>
	<string>{{184, 54}, {1481, 1133}}</string>
	<key>DataSheetTextSize</key>
	<real>0.0</real>
	<key>DatabaseIsShared</key>
	<false/>
	<key>DatabaseIsWebPublished</key>
	<false/>
	<key>ExcludeFromRecent</key>
	<false/>
	<key>FauxTimeStamp</key>
	<integer>0</integer>
	<key>GroupFieldNames</key>
	<array>
		<string></string>
		<string></string>
	</array>
	<key>HostServer</key>
	<string></string>
	<key>LastTimeWindowInFront</key>
	<integer>3647964613</integer>
	<key>NextAutoNumber</key>
	<integer>0</integer>
	<key>NextRecordID</key>
	<integer>393</integer>
	<key>OfflineAddRecord</key>
	<false/>
	<key>OfflineChangesLocalOnly</key>
	<false/>
	<key>OfflineDeleteRecord</key>
	<false/>
	<key>OfflineModification</key>
	<false/>
	<key>OpenOnServerStart</key>
	<false/>
	<key>OpenOnWebAccess</key>
	<false/>
	<key>OpenWindows</key>
	<array>
		<string>DATASHEET</string>
	</array>
	<key>RecordCount</key>
	<integer>224</integer>
	<key>SelectedRecordCount</key>
	<integer>224</integer>
	<key>SelectedSummaryCount</key>
	<string>224,0,0,0,0,0,0,0</string>
	<key>ServerDatabaseID</key>
	<string></string>
	<key>ServerDatabaseIDHistory</key>
	<string></string>
	<key>ServerDatabaseName</key>
	<string></string>
	<key>ServerDeletedRecords</key>
	<string></string>
	<key>ServerSyncPriority</key>
	<false/>
	<key>SummaryCount</key>
	<string>224,0,0,0,0,0,0,0</string>
	<key>VisibleRecordCount</key>
	<integer>224</integer>
	<key>VisibleSummaryCount</key>
	<string>224,0,0,0,0,0,0,0</string>
	<key>WebAutoSave</key>
	<false/>
</dict>
</plist>
