<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>EmptyWindowTests</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011523</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 28, 2017, 3:16:53 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
